
header{
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 30px 0 rgb(68 88 144 / 30%);
  padding: 10px 20px;
  position: fixed;
  top: 0;
  z-index: 999;

}

.navbar {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo a {
  color: #222222;
  text-decoration: none;
}

.logo a:hover {
  color: #106eea;
  transition: .5s ease;
}


.hamburguer {
  display: none;
  cursor: pointer;
}


ul {
  margin-bottom: 0 !important;
}

.menu {
  list-style: none;
  display: flex;
  align-items: center;
}

.menu li {
  margin-left: 10px;
}

.menu li a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #222222;
}

.menu li a:hover {
  color: #106eea;
  transition: .5s ease;
}



@media screen and (max-width: 980px){
  .hamburguer{
    display: block;
    z-index: 999;
  }

  .menu {
    
    border-radius: 10px;
    position: fixed;
    top: 0;
    right: -100%;

    height: 45vh;
    background-color: #fff;
    box-shadow: 0 0 30px 0 rgb(68 88 144 / 30%);

    width: 100%;
    max-width: 50%;

    flex-direction: column;
    padding: 50px 20px;

    transition: 1.1s ease;
  }

  .menu li a:hover {
    color: #106eea;
  }

  .menu.active {
    right: 0;
  }

}

/*Home */

.img-top{
  width: 100%;
  height: 100vh;
  background-position: top left;
  background-image: url("/assets/img/hero-bg2.jpg");
  background-size: cover;
  position: relative;
}

.img-top::before {
  content: "";
  background:rgba(255, 255, 255, 0.6);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

.img-top .container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-top h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #222222;
  font-family: "Poppins", sans-serif;
}

.img-top h2 {
  color: #555555;
  margin: 5px 0 30px 0;
  font-size: 24px;
  font-weight: 400;
}

@media (min-width: 1024px) {
  .img-top {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  .img-top {
    height: 100vh;
  }
  .img-top h1 {
    font-size: 28px;
    line-height: 36px;
  }
  .img-top h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }

}


/*Sobre*/

.sobre {
  padding-top: 100px;
  background-color: #eee;
  padding-bottom: 250px;
}

.about{

  text-align: center;
}

.about-p {
  font-size: 18px;
  letter-spacing: 2;
  text-align: center;
  padding: 0 150px;
  margin: 10px 150px;
}


.img-fluid {
  box-shadow: 0 0 30px 0 rgb(68 88 144 / 30%);
}

.titulo{
  margin-top: 50px;
  text-align: center;
  padding-bottom: 30px;
}

.about-btn{
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 700;
    padding: 8px 20px;
    background: #4f8eb8;
    color: white;
    display: inline-block;
    text-transform: uppercase;
    border-radius: 50px;
}



section {
  padding: 60px 0;
}


.titulo {
  text-align: center;
  padding-bottom: 30px;
}
.titulo h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.titulo p {
  margin-bottom: 0;
  font-size: 14px;
  color: #919191;
}

.lista {
  list-style: none;
}

/*Sobre*/



.vantagens {
  padding: 35px;
  background-color: #fff;
}

.icons-span {
  font-size: 45px;
  display: inline-block;
  background: #919191;
  color: rgb(51, 48, 48);
  line-height: 1;
  padding: 16px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 80px;
  height: 80px;
  transition: 0.3s;
  margin-top: 50px;
}

.background {

  border-radius: 50px;
  text-align: center;
}


.card-interno {
  height: 200px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.card-externo {
  margin-top: 50px !important;
}

.icons-vantagens {
  text-align: center;
  margin-top: 50px;
  color: #444;
  font-size: 45px;
 
}

.vantagens .capa-card:hover {
  border-color: #fff;
  box-shadow: 0px 0 35px 0 rgba(0, 0, 0, 0.08);
  
}

.vantagens .capa-card:hover .icons-span {
  color: #fff;
}

.vantagens .capa-card:hover .icons-span {
  background-color: #828ab3;
}

.row .capa-card:hover {
  color: #fff;
  background-color: #106eea;
  transition: .7s ease;
}
*/


/*Produtos*/

.card {
  box-shadow: 0 0 30px 0 rgb(68 88 144 / 25%);
  border: 1px solid rgb(68 88 144 / 12%) !important; 
}

.produtos {
  margin-bottom: 50px;
  padding-top: 100px;
  background-color:#eee;
}

.produto-externo {
  margin-bottom: 40px !important;
}



/*Equipe*/

.equipe {
  padding-top: 120px;
}

.membro {
  text-align: center;
  margin-bottom: 20px;
  padding: 30px 20px;
  background-color: #fff;
  border: 0 ;
  box-shadow: 0px 0px 12px 0px rgba(34, 34, 34, 0.07);
}

.membro img {
  max-width: 60%;
  margin: 0 0 30px 0;
  border-radius: 50%;
}

.membro span {
  display: block;
  font-size: 16px;
  font-style: italic;
}


.membro h4 {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 2px;
}

.membro p {
  padding-top: 10px;
  color: #aaa;
  font-style: italic;
  font-size: 15px;
}


.redes-sociais {
  margin-top: 15px;
}

.redes-sociais a {
  color: #919191;
  transition: 0.3s;
}

.redes-sociais a:hover {
  color: #4288b6;
}
.redes-sociais i {
  font-size: 18px;
  margin: 0 2px;
}

/*Perguntas Frequentes*/

.faq {
  background-color: #eee;
}

.titulo p {
  text-align: center;
  padding: 40px 0;
  margin: 20px 0;
  
}

.accordion {
  box-shadow: 0px 0px 12px 0px rgba(34, 34, 34, 0.15);
  background-color: #fff;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: .2s;
  margin-bottom: 15px;
  border-radius: 10px;
}

.accordion:hover {
  background-color: #e0e0e0;
}


.painel {
  padding: 0px 18px;
  background-color: white;
  max-height: 0px;
  overflow: hidden;
  transition: .7s ease;
  margin-bottom: 15px;
  border-radius: 10px;
}

.painel p {
  padding-top: 10px;
}



/*Contato*/

.contato {
  padding-top: 100px;
  background-color: #eee;

}

.mapa {
  box-shadow: 0 0 30px 0 rgb(68 88 144 / 25%);
}


.icone {
  padding: 30px 30px 25px 30px;
  width: 100%;
  position: relative;
  text-align: center;
  background: #fff;
  margin-bottom: 20px;
}


/* Footer */

footer {
  padding: 50px 0px;
  background-color: #fff;
}

.social-media {
  text-align: center;
}

.social-media p {
  font-style: italic;
  font-size: 14px;
  margin-bottom: 30px;
}

.social-media h5 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 10px;
}

.social-media  h6 {
  margin-top: 30px;
}

.icons .span-footer {
  margin-right: 14px;
}

.icons .span-footer a {
  color: #222222;
}

